{%extends "start.html"%}
{% block content %}
  <h2>Введите слово для перевода</h2>

  <form action="/translate" method="post" style="margin-top: 30px;">
    <input
      type="text"
      name="word"
      placeholder="Слово..."
      required
      style="
        width: 300px;
        padding: 12px 20px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 8px;
        text-align: center;
      "
    >

    <br>

    <button
      type="submit"
      class="start-button"
      style="margin-top: 20px; padding: 12px 25px; font-size: 18px;"
    >
      Узнать перевод
    </button>
  </form>
{% endblock %}

